* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navigation {
  background-color: burlywood;
}
li {
  text-decoration: none !important;

  color: brown;
}
.nav-links {
  cursor: pointer;
  transition: ease-in-out;
}
