@import url("https://fonts.googleapis.com/css2?@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Yanone+Kaffeesatz:wght@200&display=swap');=Yanone+Kaffeesatz:wght@200&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  background: rgb(54, 51, 51);
  background: linear-gradient(
    90deg,
    rgba(54, 51, 51, 1) 35%,
    rgba(133, 125, 125, 1) 100%
  );
  color: #f59600;
  position: relative;
}
.navBar {
  display: flex;

  align-items: center;
  background-color: #f59600;
}
.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 15rem;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  outline: none;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  background: white;
  height: 21px;
}
.hero {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  margin-top: 100px;
  height: auto;
}
.details {
  height: 100vh;
  grid-template-rows: auto auto;
}

.information {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}

.up {
  height: 50vh;
}

.tabs {
  height: auto;
}

.reviews {
  display: grid;
  grid-template-columns: 50% 50%;
}

.rating {
  text-align: center;

  display: flex;
  flex-direction: column;
}

.fa {
  font-size: 3rem;
  color: black;
}

.rate {
  font-weight: bolder;
}

#map {
  height: 100vh;
}

.recent-review {
  display: flex;
}
@media (max-width: 480px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-active {
    display: flex;
  }

  .information {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .reviews {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .fa {
    font-size: 5rem;
  }

  .hero {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
